{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
        {% block additional_head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" />
    </head>
    <body>
        <style>
            * {
                font-family: Poppins, sans-serif !important;
            }

            .dt-length select {
                min-width: 70px !important;
            }

            table.dataTable .dt-select-checkbox {
                border-radius: 0.25rem !important;
            }

            .dt-info span.select-info,
            .dt-info span.select-item {
                margin-left: 0.5em !important;
            }
        </style>
        {% block content %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
        {% block additional_js %}{% endblock %}
    </body>
</html>
