{% extends "base.html" %}

{% block title %}
Daftar
{% endblock %}

{% block content %}
{% include "login_daftar_nav.html" %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-blue-900">Daftar</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            {% if messages %}
                <div class="space-y-1">
                    {% for message in messages %}
                        <div class="px-4 py-3 text-md font-medium rounded-xl border 
                        {% if message.tags == 'success' %}
                            bg-green-100 text-green-800 border-green-300
                        {% elif message.tags == 'error' %}
                            bg-red-100 text-red-800 border-red-300
                        {% elif message.tags == 'warning' %}
                            bg-yellow-100 text-yellow-800 border-yellow-300
                        {% elif message.tags == 'info' %}
                            bg-blue-100 text-blue-800 border-blue-300
                        {% else %}
                            bg-gray-100 text-gray-800 border-gray-300
                        {% endif %}
                        " role="alert">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <label for="username" class="block text-sm/6 font-medium text-blue-900">Username</label>
                <div class="mt-2">
                    <input id="username" type="text" name="username" required autofocus class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-100 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" />
                </div>
            </div>

            <div>
                <label for="password" class="block text-sm/6 font-medium text-blue-900">Password</label>
                <div class="mt-2 flex justify-between items-center">
                    <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-100 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" />
                    <svg class="w-8 h-8 text-gray-800 dark:text-white mx-1 cursor-pointer hover:text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" onclick="showPassword(true)" id="show-password">
                        <path stroke="currentColor" stroke-width="1.5" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                        <path stroke="currentColor" stroke-width="1.5" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white mx-1 cursor-pointer hover:text-blue-800 hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" onclick="showPassword(false)" id="hide-password">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                </div>
            </div>

            <div>
                <label for="password_confirm" class="block text-sm/6 font-medium text-blue-900">Konfirmasi Password</label>
                <div class="mt-2 flex justify-between items-center">
                    <input id="password_confirm" type="password" name="password_confirm" required autocomplete="current-password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-100 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" />
                    <svg class="w-8 h-8 text-gray-800 dark:text-white mx-1 cursor-pointer hover:text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" onclick="showPasswordConfirm(true)" id="show-password-confirm">
                        <path stroke="currentColor" stroke-width="1.5" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                        <path stroke="currentColor" stroke-width="1.5" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white mx-1 cursor-pointer hover:text-blue-800 hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" onclick="showPasswordConfirm(false)" id="hide-password-confirm">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <p class="text-center text-sm/6 text-gray-500">
                    Sudah punya akun?
                    <a href="/login" class="font-semibold text-blue-600 hover:text-blue-500">Login</a>
                </p>
                <button type="submit" class="flex justify-center rounded-md bg-blue-600 px-5 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 cursor-pointer">Daftar</button>
            </div>
        </form>
    </div>
</div>

<script>
    function showPassword(active) {
        let showIcon = document.getElementById("show-password");
        let hideIcon = document.getElementById("hide-password");

        if (active) {
            showIcon.classList.add("hidden");
            hideIcon.classList.remove("hidden");
        } else {
            showIcon.classList.remove("hidden");
            hideIcon.classList.add("hidden");
        }

        let password = document.getElementById("password");
        password.type = active ? "text" : "password";
    }

    function showPasswordConfirm(active) {
        let showIcon = document.getElementById("show-password-confirm");
        let hideIcon = document.getElementById("hide-password-confirm");

        if (active) {
            showIcon.classList.add("hidden");
            hideIcon.classList.remove("hidden");
        } else {
            showIcon.classList.remove("hidden");
            hideIcon.classList.add("hidden");
        }

        let password = document.getElementById("password_confirm");
        password.type = active ? "text" : "password";
    }
</script>
{% endblock %}
