{% extends "base.html" %}

{% block title %}
Jadwal | {{ schedule_name }}
{% endblock %}

{% block css %}
th > div, td > div {
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: calc(1.25/0.875);
}

.text-kelas {
    font-size: 1rem;
    line-height: calc(1.5/1);
}
{% endblock %}

{% block content %}
{% load dynamic_tags %}
{% include "sidebar.html" %}

{% load static %}
<div class="ml-64 p-4">
    <input type="hidden" value="{{ schedule_name }}" name="schedule_name"/>
    <div class="flex justify-between items-end">
        <h1 class="font-bold text-3xl text-blue-900">Jadwal | {{ schedule_name }}</h1>
        {% if schedule_status == 'done' %}
            <span class="inline-flex items-center px-2 py-1 ring-1 ring-inset ring-green-300 text-green-700 text-md font-medium rounded-lg bg-green-100">Selesai</span>
        {% else %}
            <span class="inline-flex items-center px-2 py-1 ring-1 ring-inset ring-red-300 text-red-700 text-md font-medium rounded-lg bg-red-100">Draf</span>
        {% endif %}
    </div>
    <hr class="my-3 border-blue-900"/>
    <div class="flex justify-between items-start">
        <div class="flex space-x-2">
            <a href="/jadwal/detail/{{ schedule_id }}/" class="text-body bg-gray-100 box-border border border-gray-300 hover:bg-gray-200 focus:ring-3 focus:ring-gray-100 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none cursor-pointer">Ubah</a>
        </div>
        <button data-modal-target="delete-jadwal-modal" data-modal-toggle="delete-jadwal-modal" class="text-white bg-red-600 box-border border border-transparent hover:bg-red-700 focus:ring-3 focus:ring-red-300 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none cursor-pointer" type="button">Hapus</button>
    </div>
    <div class="relative overflow-auto mt-3 max-h-[80vh]">
        <input type="hidden" value="{{ data_hari|length }}" name="day_length"/>
        <input type="hidden" value="{{ data_jam_pembelajaran|length }}" name="lesson_hour_length"/>
        <table class="w-full text-center border-collapse" id="schedule">
            <colgroup>
                <col/>
                <col/>
                <col/>
                {% for _ in data_kelas %}
                    <col/>
                {% endfor %}
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" class="min-w-[75px] sticky top-[3.5px] left-[3.5px] z-40 bg-white">
                        <button class="m-[1.5px] text-white bg-blue-600 box-border border border-transparent hover:bg-blue-700 focus:ring-3 focus:ring-blue-300 shadow-xs font-medium leading-5 rounded-lg p-3 text-kelas focus:outline-none cursor-pointer" type="button" id="export-button" onclick="exportSchedule()">Export</button>
                        <div class="absolute top-0 bottom-0 left-0 right-0 pointer-events-none text-transparent bg-transparent shadow-[0_0_0_10px_white]"></div>
                    </th>
                    <th scope="col" class="min-w-[120px] sticky top-[3.5px] left-[81.5px] z-40 bg-white">
                        <div class="m-[1.5px] p-3 text-kelas bg-red-400/75 text-red-600">Kelas</div>
                        <div class="absolute top-0 bottom-0 left-0 right-0 text-transparent bg-transparent shadow-[0_-10px_0_0_white]"></div>
                    </th>
                    <th scope="col">
                        <div class="text-transparent"></div>
                    </th>
                    {% for kelas_id, kelas_name in data_kelas %}
                        <th scope="col" class="min-w-[500px] sticky top-[3.5px] z-30 bg-white">
                            <div class="m-[1.5px] p-3 text-kelas bg-red-400/75 text-red-600">{{ kelas_name }}</div>
                            <div class="absolute top-0 bottom-0 left-0 right-0 text-transparent bg-transparent shadow-[0_-10px_0_0_white]"></div>
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="sticky top-[57.7px] left-[3.5px] z-40 bg-white">
                        <div class="m-[1.5px] bg-indigo-400/75 text-indigo-600">Hari</div>
                        <div class="absolute top-0 bottom-0 left-0 right-0 text-transparent bg-transparent shadow-[-10px_0_0_0_white]"></div>
                    </th>
                    <th class="sticky top-[57.7px] left-[81.5px] z-40 bg-white">
                        <div class="m-[1.5px] bg-yellow-400/75 text-yellow-600">Jam</div>
                    </th>
                    <th>
                        <div class="text-transparent"></div>
                    </th>
                    {% for kelas in data_kelas %}
                        <th class="sticky top-[57.7px] z-30 bg-white">
                            <div class="m-[1.5px] bg-gray-300/40 text-gray-500 grid grid-cols-[240px_160px_100px] divide-x-2">
                                <span>Pelajaran</span>
                                <span>Pengajar</span>
                                <span>Ruang</span>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for hari_id, hari_name in data_hari %}
                    <tr>
                        <td colspan="{{ data_kelas|length|add:3 }}" {% if forloop.first %} class="sticky top-[83.9px] z-40 bg-white" {% endif %}>
                            <hr class="border-2 border-gray-500 mx-[3px] my-[2px] rounded-lg"/>
                        </td>
                    </tr>
                    {% if forloop.first %}
                        <tr>
                            <td colspan="{{ data_kelas|length|add:3 }}">
                                <div class="text-transparent"></div>
                            </td>
                        </tr>
                    {% endif %}
                    {% for jam_pembelajaran in data_jam_pembelajaran %}
                        <tr>
                            {% if forloop.first %}
                                <td rowspan="{{ data_jam_pembelajaran|length }}" class="sticky left-[3.5px] z-30 bg-white">
                                    <div class="m-[1.5px] bg-indigo-400/75 text-indigo-600 absolute inset-0 flex items-center justify-center">{{ hari_name }}</div>
                                    <div class="absolute top-0 bottom-0 left-0 right-0 text-transparent bg-transparent shadow-[-10px_0_0_0_white]"></div>
                                </td>
                            {% endif %}
                            <td class="sticky left-[81.5px] z-30 bg-white">
                                <div class="m-[1.5px] bg-yellow-400/75 text-yellow-600">{{ jam_pembelajaran.start_time|time:"H:i" }} - {{ jam_pembelajaran.finish_time|time:"H:i" }}</div>
                            </td>
                            <td>
                                <div class="text-transparent"></div>
                            </td>
                            {% if jam_pembelajaran.is_break %}
                                <td colspan="{{ data_kelas|length }}">
                                    <div class="m-[1.5px] bg-gray-300/40 text-gray-500 is-break grid grid-cols-{{ data_kelas|length }}">
                                        {% for _ in data_kelas %}
                                            <span>ISTIRAHAT</span>
                                        {% endfor %}
                                    </div>
                                </td>
                            {% else %}
                                {% for kelas_id, kelas_name in data_kelas %}
                                    {% get_schedule_result data_schedule kelas_id hari_id jam_pembelajaran.id as result %}
                                    {% if result %}
                                        {% if result.time_slot > 0 %}
                                            <td rowspan="{{ result.time_slot }}" class="relative">
                                                <div class="m-[1.5px] grid grid-cols-[240px_160px_100px] divide-x-2 absolute inset-0" style="background-color: {{ result.bg_color }}; color: {{ result.text_color }};">
                                                    <span class="flex items-center justify-center">{{ result.lesson }}</span>
                                                    <span class="flex items-center justify-center">
                                                        {% if result.educator %}{{ result.educator }}{% else %}-{% endif %}
                                                    </span>
                                                    <span class="flex items-center justify-center">
                                                        {% if result.classroom %}{{ result.classroom }}{% else %}-{% endif %}
                                                    </span>
                                                </div>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Loader -->
<div class="fixed h-screen bg-white/50 top-0 left-0 right-0 z-100 hidden justify-center items-center" id="export-loader">
    <div role="status">
        <svg aria-hidden="true" class="inline w-10 h-10 w-8 h-8 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- Modal -->
<div id="delete-jadwal-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full bg-gray-900/60">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-xl shadow-sm p-4 md:p-6">
            <!-- Modal header -->
            <button type="button" class="absolute top-3 end-2.5 text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-lg text-sm w-9 h-9 ms-auto inline-flex justify-center items-center cursor-pointer" data-modal-hide="delete-jadwal-modal">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal body -->
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                <h3 class="mb-6 text-body">Apakah Anda yakin ingin menghapus jadwal ini?</h3>
                <div class="flex items-center space-x-4 justify-center">
                    <a href="/jadwal/delete/{{ schedule_id }}" class="text-white bg-red-600 box-border border border-transparent hover:bg-red-700 focus:ring-3 focus:ring-red-300 shadow-xs font-medium leading-5 rounded-xl text-sm px-4 py-2.5 focus:outline-none cursor-pointer">Yakin</a>
                    <button data-modal-hide="delete-jadwal-modal" type="button" class="text-body bg-gray-100 box-border border border-gray-300 hover:bg-gray-200 hover:text-heading focus:ring-3 focus:ring-gray-100 shadow-xs font-medium leading-5 rounded-xl text-sm px-4 py-2.5 focus:outline-none cursor-pointer">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="https://cdn.jsdelivr.net/npm/jspdf@3.0.3/dist/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html-to-image@1.11.13/dist/html-to-image.min.js"></script>
<script>
    const { jsPDF } = window.jspdf;

    async function exportSchedule() {
        const flowbite = document.getElementById('flowbite-css');
        flowbite.disabled = true;

        const exportButton = document.getElementById('export-button');
        exportButton.classList.add('invisible');

        const loader = document.getElementById('export-loader');
        loader.classList.add('flex');
        loader.classList.remove('hidden');

        const tableColumns = document.querySelectorAll('colgroup col');
        const columnOffset = 3;
        const classLength = tableColumns.length - columnOffset;

        const breakElements = document.querySelectorAll('.is-break');
        const breakHTML = '<span>ISTIRAHAT</span>';
        for (let i = 0; i < breakElements.length; i++) {
            breakElements[i].classList.add('grid-cols-1');
            breakElements[i].classList.remove(`grid-cols-${classLength}`);
            breakElements[i].innerHTML = breakHTML;
        }

        const doc = new jsPDF();

        const tableRows = document.querySelectorAll('tbody tr');
        const rowOffset = 2;
        const rowLength = tableRows.length - rowOffset;
        const lessonHourLength = document.querySelector('input[name="lesson_hour_length"]').value;

        let isBreakSchedule;
        let dayPerPages;
        let pagePerClass;
        for (let i = 0; i < classLength; i++) {
            // Show per class
            for (let j = 0; j < classLength; j++) {
                tableColumns[columnOffset+j].style.visibility = j === i ? 'initial' : 'collapse';
            }

            if (isBreakSchedule === undefined) {
                const pageWidth = doc.internal.pageSize.getWidth() - 20; // 10 mm margins
                const pageHeight = doc.internal.pageSize.getHeight() - 20;
                
                const table = document.getElementById('schedule');
                const rect = table.getBoundingClientRect();
                const width = pageWidth / rect.width;
                const height = pageHeight / rect.height;

                isBreakSchedule = (width - height) > (width * 0.1);
                if (isBreakSchedule) {
                    const dayLength = document.querySelector('input[name="day_length"]').value;
                    
                    for (let k = 0; k < rowLength; k++) {
                        tableRows[rowOffset+k].style.visibility = 'collapse';
                    }
    
                    let dayPerPage = 1;
                    for (let k = 0; k < rowLength; k++) {
                        tableRows[rowOffset+k].style.visibility = 'initial';
                        if (k+1 === (lessonHourLength * dayPerPage + (dayPerPage - 1))) {
                            const currentRect = table.getBoundingClientRect();
                            const currentHeight = pageHeight / currentRect.height;
    
                            if ((width - currentHeight) > (width * 0.1)) {
                                dayPerPage--;
                                break;
                            }
                            dayPerPage++;
                        }
                    }
                    dayPerPages = dayPerPage;
                    pagePerClass = Math.ceil(dayLength / dayPerPage);
                }
            }

            if (isBreakSchedule) {
                for (let k = 0; k < rowLength; k++) {
                    tableRows[rowOffset+k].style.visibility = 'collapse';
                }

                let generatedPages = 0;
                for (let k = 0; k < rowLength; k++) {
                    tableRows[rowOffset+k].style.visibility = 'initial';
                    // Day per page
                    if (k+1 === ((lessonHourLength * dayPerPages + (dayPerPages - 1)) * (generatedPages + 1) + generatedPages)) {
                        if ((generatedPages + 1) < pagePerClass) {
                            await new Promise(requestAnimationFrame);
                            // Capture
                            await captureSchedule(doc);
                            await doc.addPage();
                            generatedPages++;

                            // Hide generated
                            k++;
                            for (let l = 0; l < k; l++) {
                                tableRows[rowOffset+l].style.visibility = 'collapse';
                            }
                            tableRows[rowOffset+k].style.visibility = 'collapse';
                        }
                    }
                }
            }

            await new Promise(requestAnimationFrame);
            // Capture
            await captureSchedule(doc);
            if (i < classLength - 1) {
                await doc.addPage();
            }
        }
        doc.save(`Jadwal ${document.querySelector('input[name="schedule_name"]').value}.pdf`);

        // Restore to initial
        for (let i = 0; i < rowLength; i++) {
            tableRows[rowOffset+i].style.visibility = 'initial';
        }

        for (let i = 0; i < classLength; i++) {
            tableColumns[columnOffset+i].style.visibility = 'initial';
        }

        for (let i = 0; i < breakElements.length; i++) {
            breakElements[i].classList.add(`grid-cols-${classLength}`);
            breakElements[i].classList.remove('grid-cols-1');
            let breakElementHTML = '';
            for (let j = 0; j < classLength; j++) {
                breakElementHTML += breakHTML;
            }
            breakElements[i].innerHTML = breakElementHTML;
        }

        loader.classList.add('hidden');
        loader.classList.remove('flex');
        exportButton.classList.remove('invisible');
        flowbite.disabled = false;
    }

    async function captureSchedule(doc) {
        const table = document.getElementById('schedule');
        const img = await htmlToImage.toPng(table);

        const pageWidth = doc.internal.pageSize.getWidth() - 20; // 10 mm margins
        const pageHeight = doc.internal.pageSize.getHeight() - 20;

        const rect = table.getBoundingClientRect();

        const ratio = Math.min(
            pageWidth / rect.width,
            pageHeight / rect.height
        );

        const pdfWidth = rect.width * ratio;
        const pdfHeight = rect.height * ratio;

        const x = (doc.internal.pageSize.getWidth() - pdfWidth) / 2 

        doc.addImage(img, 'PNG', x, 10, pdfWidth, pdfHeight);
    }
</script>
{% endblock %}
